<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>


<body class="HOME">

<header>
        <div class="navbar">
            <a href='@Url.Action("PostLogin","Home", new { IdUsuario = ViewBag.usuario.idUsuario })' class="logo">Celix-Safe</a>
            <nav>
                <a href="#">Foro</a>
                <a href='@Url.Action("Recetas","Home", new { IdUsuario = ViewBag.usuario.idUsuario })'>Recetas</a>
                <a href='@Url.Action("Productos","Home", new { IdUsuario = ViewBag.usuario.idUsuario })'>Productos</a>
                <a href='@Url.Action("Establecimientos","Home", new { IdUsuario = ViewBag.usuario.idUsuario })'>Establecimientos </a>
               
            </nav>  
            <a href='@Url.Action("Perfil","Home", new { IdUsuario = ViewBag.usuario.idUsuario })' class="username"> @ViewBag.usuario.username <img class="user" src="/Imagen/User.png" alt="User"> </a>
        </div>
</header>

<div class="AñadirRecetas">
    <h1>AÑADIR RECETA</h1>

    <form action='@Url.Action("AnadirRecetas", "Home", new { IdUsuario = ViewBag.usuario.idUsuario })' method="post" id="registroForm" onsubmit="return validarAñadirReceta()">
        <div class="form-group">
            <label for="nombreReceta">Nombre Receta</label>
            <input type="text" class="form-control" id="nombreReceta" name="nombreReceta" placeholder="Ingresa el nombre de la receta" onkeyup="validarNombreReceta()">
            <p id="mensajeErrorNombre"></p>
        </div>

        <div class="form-group">
            <label for="contenidoReceta">Contenido de la receta</label>
            <input type="text" class="form-control" id="contenidoReceta" name="contenidoReceta" placeholder="Ingresa el contenido de la receta" onkeyup="validarContenidoReceta()">
            <p id="mensajeErrorContenido"></p>
        </div>

        <div class="form-group">
            <label for="calificacionReceta">Calificación de la receta</label>
            <select class="form-control" id="calificacionReceta" name="calificacionReceta" onchange="validarCalificacion()">
                <option value="">Selecciona una calificación</option>
                <option value="1">1 ⭐ - Muy Mala</option>
                <option value="2">2 ⭐⭐ - Mala</option>
                <option value="3">3 ⭐⭐⭐ - Regular</option>
                <option value="4">4 ⭐⭐⭐⭐ - Buena</option>
                <option value="5">5 ⭐⭐⭐⭐⭐ - Excelente</option>
            </select>
            <p id="mensajeErrorCalificacion"></p>
        </div>

        <div class="form-group">
            <label for="categoriaReceta">Categoría de la Receta</label>
            <select class="form-control" id="idCategoriaReceta" name="idCategoriaReceta">
                @foreach (Categoria_Recetas categoria in ViewBag.CategoriaRecetas)
                {
                    <option value="@categoria.idCategoriaReceta">@categoria.nombreCategoriaReceta</option>
                }
            </select>
            <p id="mensajeErrorCategoria"></p>
        </div>

        <div class="form-group">
            <label for="fotoReceta">Foto Receta</label>
            <input type="text" class="form-control" id="fotoReceta" name="fotoReceta" placeholder="Ingresa la foto de la receta en formato URL" onkeyup="validarFotoReceta()">
            <p id="mensajeErrorFoto"></p>
        </div>

        <div>
            <button type="submit">Añadir Receta</button>
        </div>
    </form>
    
</div>

</body>


</html>