<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    
<body class="HOME">

<header>
        <div class="navbar">
            <a href='@Url.Action("PostLogin","Home", new { IdUsuario = ViewBag.usuario.idUsuario })' class="logo">Celix-Safe</a>
            <nav>
                <a href="#">Foro</a>
                <a href='@Url.Action("Recetas","Home", new { IdUsuario = ViewBag.usuario.idUsuario })'>Recetas</a>
                <a href='@Url.Action("Productos","Home", new { IdUsuario = ViewBag.usuario.idUsuario })'>Productos</a>
                <a href='@Url.Action("Establecimientos","Home", new { IdUsuario = ViewBag.usuario.idUsuario })'>Establecimientos </a>
               
            </nav>  
            <a href='@Url.Action("Perfil","Home", new { IdUsuario = ViewBag.usuario.idUsuario })' class="username"> @ViewBag.usuario.username <img class="user" src="/Imagen/User.png" alt="User"> </a>
        </div>
</header>

<div class="busquedas">
    <form action='@Url.Action("busquedaEstablecimientos", "Home", new { IdUsuario = ViewBag.usuario.idUsuario })' method="Post">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Buscar establecimientos" id="busqueda" name="busqueda">
        </div>
    </form>

    <ul>

            @for (int i = 0; i < ViewBag.listaEstablecimientos.Count; i++)
            {
                <li>
                    <img src="@ViewBag.listaEstablecimientos[i].fotoEstablecimiento" alt="@ViewBag.listaEstablecimientos[i].nombreEstablecimiento" />
                    <strong>Nombre:</strong> @ViewBag.listaEstablecimientos[i].nombreEstablecimiento <br />
                    <strong>Calificacion:</strong> @ViewBag.listaEstablecimientos[i].calificacionEstablecimiento <br />
                    <strong>Descripcion:</strong> @ViewBag.listaEstablecimientos[i].descripcionEstablecimiento <br />
                    <a href="#" class="boton-ver">Ver</a>
                </li>
            }

    </ul>
</div>

</body>
</html>