<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="HOME">

<header>
        <div class="navbar">
            <a href='@Url.Action("PostLogin","Home", new { IdUsuario = ViewBag.usuario.idUsuario })' class="logo">Celix-Safe</a>
            <nav>
                <a href='@Url.Action("Foro","Home", new { IdUsuario = ViewBag.usuario.idUsuario })'>Foro</a>
                <a href='@Url.Action("Recetas","Home", new { IdUsuario = ViewBag.usuario.idUsuario })'>Recetas</a>
                <a href='@Url.Action("Productos","Home", new { IdUsuario = ViewBag.usuario.idUsuario })'>Productos</a>
                <a href='@Url.Action("Establecimientos","Home", new { IdUsuario = ViewBag.usuario.idUsuario })'>Establecimientos </a>
               
            </nav>  
            <a href='@Url.Action("Perfil","Home", new { IdUsuario = ViewBag.usuario.idUsuario })' class="username"> @ViewBag.usuario.username <img class="user" src="/Imagen/User.png" alt="User"> </a>
        </div>
</header>


<div class="contenedor-principal">
    <form action='@Url.Action("busquedaProducto", "Home", new { IdUsuario = ViewBag.usuario.idUsuario })' method="Post" class="form-busqueda">
        <input type="text" class="form-control" placeholder="Buscar productos" id="busqueda" name="busqueda" />
    </form>

    @if (ViewBag.listaProductosBuscados != null && ViewBag.listaProductosBuscados.Count > 0)
    {
        <ul class="lista-productos">
            @for (int i = 0; i < ViewBag.listaProductosBuscados.Count; i++)
            {
                <li class="tarjeta-producto">
                    <img src="@ViewBag.listaProductosBuscados[i].fotoProducto" alt="@ViewBag.listaProductosBuscados[i].nombreProducto" />
                    <p><strong>Producto:</strong> @ViewBag.listaProductosBuscados[i].nombreProducto</p>
                    <p><strong>Precio:</strong> $@ViewBag.listaProductosBuscados[i].precioProducto</p>
                    <p><strong>Categoría:</strong> @ViewBag.listaCategoriaProductos[@ViewBag.listaProductosBuscados[i].idCategoriaProducto - 1].nombreCategoriaProducto</p>
                    <p><strong>Descripción:</strong> @ViewBag.listaProductosBuscados[i].descripcionProducto</p>
                    <a href="#" class="boton-ver">Ver</a>
                </li>
            }
        </ul>
    }
    else
    {
        <p style="margin-top: 20px; text-align: center; font-size: 18px;">No se encontraron productos.</p>
    }
</div>

</body>
</html>