<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body class="HOME">

<header>
        <div class="navbar">
            <a href='@Url.Action("PostLogin","Home", new { IdUsuario = ViewBag.usuario.idUsuario })' class="logo">Celix-Safe</a>
            <nav>
                <a href="#">Foro</a>
                <a href='@Url.Action("Recetas","Home", new { IdUsuario = ViewBag.usuario.idUsuario })'>Recetas</a>
                <a href='@Url.Action("Productos","Home", new { IdUsuario = ViewBag.usuario.idUsuario })'>Productos</a>
                <a href='@Url.Action("Establecimientos","Home", new { IdUsuario = ViewBag.usuario.idUsuario })'>Establecimientos </a>
               
            </nav>  
            <a href='@Url.Action("Perfil","Home", new { IdUsuario = ViewBag.usuario.idUsuario })' class="username"> @ViewBag.usuario.username <img class="user" src="/Imagen/User.png" alt="User"> </a>
        </div>
</header>

<div class="busquedas">
    <form action='@Url.Action("busquedaRecetas", "Home", new { IdUsuario = ViewBag.usuario.idUsuario })' method="Post">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Buscar recetas" id="busqueda" name="busqueda">
        </div>
    </form>

    <ul>
        @if (ViewBag.listaRecetasBuscados != null && ViewBag.listaRecetasBuscados.Count > 0)
        {
            for (int i = 0; i < ViewBag.listaRecetasBuscados.Count; i++)
            {
                <li>
                    <img src="@ViewBag.listaRecetasBuscados[i].fotoReceta" alt="@ViewBag.listaRecetasBuscados[i].nombreReceta" />
                    <strong>Nombre receta:</strong> @ViewBag.listaRecetasBuscados[i].nombreReceta <br />
                    <strong>Contenido:</strong> @ViewBag.listaRecetasBuscados[i].contenidoReceta <br />
                    <strong>Categoría:</strong> @ViewBag.listaCategoriaRecetas[@ViewBag.listaRecetasBuscados[i].idCategoriaReceta - 1].nombreCategoriaReceta <br />
                    <strong>Calificación:</strong> @ViewBag.listaRecetasBuscados[i].calificacionReceta <br />
                    <button class="btn btn-primary" onclick="mostrarReceta(@ViewBag.listaRecetasBuscados[i].idReceta)">Acercar</button>
                </li>
            }
        }
        else
        {
            <p>No se encontraron recetas.</p>
        }
    </ul>
</div>


<div id="modal" class="modal">
  <div class="modal-content">
    <!-- contenido -->
    <h2 id="receta-name">Detalles de la Receta</h2>
    <img id="modalImagen" src="" alt="Imagen">
    <p id="modalTitulo"></p>
    <p id="modalContenido"></p>
    <p>Calificación: <span id="modalCalificacion"></span></p>
    <!-- contenido -->
    <div class="modal-footer">
        <a href='@Url.Action("Recetas","Home", new { IdUsuario = ViewBag.usuario.idUsuario })' class="button-info">Volver</a>
    </div>
  </div>
</div>



</body>

</html>