<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>


<body class="HOME">

<header>
        <div class="navbar">
            <a href='@Url.Action("PostLogin","Home", new { IdUsuario = ViewBag.usuario.idUsuario })' class="logo">Celix-Safe</a>
            <nav>
                <a href='@Url.Action("Foro","Home", new { IdUsuario = ViewBag.usuario.idUsuario })'>Foro</a>
                <a href='@Url.Action("Recetas","Home", new { IdUsuario = ViewBag.usuario.idUsuario })'>Recetas</a>
                <a href='@Url.Action("Productos","Home", new { IdUsuario = ViewBag.usuario.idUsuario })'>Productos</a>
                <a href='@Url.Action("Establecimientos","Home", new { IdUsuario = ViewBag.usuario.idUsuario })'>Establecimientos </a>
               
            </nav>  
            <a href='@Url.Action("Perfil","Home", new { IdUsuario = ViewBag.usuario.idUsuario })' class="username"> @ViewBag.usuario.username <img class="user" src="/Imagen/User.png" alt="User"> </a>
        </div>
</header>

<div class="contenedor-principal">
    <form action='@Url.Action("busquedaRecetas", "Home", new { IdUsuario = ViewBag.usuario.idUsuario })' method="Post" class="form-busqueda">
        <input type="text" class="form-control" placeholder="Buscar recetas" id="busqueda" name="busqueda" />
        <a class="link-añadir" href='@Url.Action("ViewAñadirRecetas","Home", new { IdUsuario = ViewBag.usuario.idUsuario })'>
            Añadir Recetas
        </a>
    </form>
    
<ul class="lista-productos">
    @if (ViewBag.listaRecetas != null && ViewBag.listaRecetas.Count > 0)
    {
            @foreach (Recetas item in ViewBag.listaRecetas)
            {
                <li class="tarjeta-producto">
                    <img src="@item.fotoReceta" alt="@item.nombreReceta" />
                    <p><strong>Nombre receta:</strong> @item.nombreReceta</p>
                    <p><strong>Contenido:</strong> @item.contenidoReceta</p>
                    <p><strong>Categoría:</strong> @ViewBag.listaCategoriaRecetas[@item.idCategoriaReceta - 1].nombreCategoriaReceta</p>
                    <p><strong>Calificación:</strong> @item.calificacionReceta</p>
                    <a href="#" class="boton-ver">Ver</a>
                </li>
            }
    }
</ul>
</div>




</body>


</html>