<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>


<body class="HOME">

<header>
        <div class="navbar">
            <a href='@Url.Action("PostLogin","Home", new { IdUsuario = ViewBag.usuario.idUsuario })' class="logo">Celix-Safe</a>
            <nav>
                <a href="#">Foro</a>
                <a href='@Url.Action("Recetas","Home", new { IdUsuario = ViewBag.usuario.idUsuario })'>Recetas</a>
                <a href='@Url.Action("Productos","Home", new { IdUsuario = ViewBag.usuario.idUsuario })'>Productos</a>
                <a href='@Url.Action("Establecimientos","Home", new { IdUsuario = ViewBag.usuario.idUsuario })'>Establecimientos </a>
               
            </nav>  
            <a href='@Url.Action("Perfil","Home", new { IdUsuario = ViewBag.usuario.idUsuario })' class="username"> @ViewBag.usuario.username <img class="user" src="/Imagen/User.png" alt="User"> </a>
        </div>
</header>

<div class="busquedas">
    <form action='@Url.Action("busquedaRecetas", "Home", new { IdUsuario = ViewBag.usuario.idUsuario })' method="Post">
        <div class="form-group">
            
            <input type="text" class="form-control" placeholder="Buscar recetas" id="busqueda" name="busqueda">
        </div>
    </form>

    <ul>

            @for (int i = 0; i < ViewBag.listaRecetas.Count; i++)
            {
                <li>
                    <img src="@ViewBag.listaRecetas[i].fotoReceta" alt="@ViewBag.listaRecetas[i].nombreReceta" />
                    <strong>Nombre receta:</strong> @ViewBag.listaRecetas[i].nombreReceta <br />
                    <strong>Contenido:</strong> @ViewBag.listaRecetas[i].contenidoReceta <br />
                    <strong>Categoría:</strong> @ViewBag.listaCategoriaRecetas[@ViewBag.listaRecetas[i].idCategoriaReceta - 1].nombreCategoriaReceta <br />
                    <strong>Calificación:</strong> @ViewBag.listaRecetas[i].calificacionReceta <br />
                    <a href="#" class="boton-ver">Ver</a>
                </li>
            }

    </ul>
</div>

</body>


</html>